# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Order is important. The last matching pattern has the most precedence.

# Delegate ownership to specific domain

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

* @iamcasperwein